<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyheader :: bodyheader"/>

    <div>
        <h4>제목</h4><li th:text="${music.title}"></li>
        <h4>아티스트</h4><li th:text="${music.artist.name}"></li>
        <h4>가사</h4><li th:text="${music.lyrics}"></li>
        <h4>링크</h4><li><a th:href="${music.link}">링크</a></li>
        <h4>프로필 이미지</h4><img th:src="@{http://localhost:8080/music/img/{id} (id=${music.id})}" width="25%">
    </div>

    <div style="padding-top: 10px; padding-bottom: 10px;">
        <a class="btn btn-secondary" th:href="@{/music/{id}/edit (id=${music.id})}">수정</a>
        <a class="btn btn-info" href="/music">뒤로</a>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>